<div class="user-panel">
  @if (menuMode() !== 'list') {
  <dx-drop-down-button stylingMode="text"
                       [icon]="userAvatar()"
                       [showArrowIcon]="false"
                       [items]="menuItems()"
                       displayExpr="text"
                       keyExpr="text"
                       [elementAttr]="{ class: 'user-button', 'aria-label': 'User account menu' }"
                       [dropDownOptions]="{ width: '150px' }">
  </dx-drop-down-button>
  } @else {
  <dx-list displayExpr="text"
           keyExpr="text"
           width="130"
           [items]="menuItems()"> </dx-list>
  }
</div>